<html>
    <head>
        <title>404</title>
        <meta name="author" content="Kaylee Bigelow">
        <meta name="description" content="404 Page">
        <link rel="stylesheet" href="{{ url_for('static', filename='webstyle.css') }}">
        <div class="headerdesign">
            <h1>How to be a tourist in Niagara Falls</h1>
            <h3>(But not act like one)</h3>            
        </div>
    </head>
    <body>
        <div class="navbar">
            <a href="home.html">Home</a>
            <a href="one.html">Attractions</a>
            <a href="two.html">Money saving Tips</a>
            <a href="404.html">Bad Link</a>
        </div>
        </br></br></br></br></br>
        <div class="centeredText">
            <h1>404 Page Not Found</h1>
            <p>The page you are trying to access does not exist</p>
            <p>Try returning to the home page and accessing our content through there!</p>
            <p>If you feel the page you were trying to reach is a valid page please feel free to contact this website's owner at kbigelow@uoguelph.ca</p>
            <img src="{{ url_for('static', filename='shrug.gif') }}">
        </div>
        </br></br></br></br>
        <footer class="footer">
            <p>Author: Kaylee Bigelow - About: I grew up in Niagara Falls so all information not cited it based on my experiences!<br>
            <a href="mailto:kbigelow@uoguelph.ca">kbigelow@uoguelph.ca</a></p>
        </footer> 
    </body>
</html>