<html>
    <head>
        <title>Attractions</title>
        <meta name="author" content="Kaylee Bigelow">
        <meta name="description" content="Attractions offered at Niagara Falls">
        <link rel="stylesheet" href="{{ url_for('static', filename='webstyle.css') }}">
    </head>
    <body>
        <div class="headerdesign">
            <h1>How to be a tourist in Niagara Falls</h1>
            <h3>(And do attractions right)</h3>            
        </div>
              
        <div class="navbar">
            <a href="home.html">Home</a>
            <a href="one.html">Attractions</a>
            <a href="two.html">Money saving Tips</a>
            <a href="404.html">Bad Link</a>
        </div>
        <div id="start", class="archingDiv"">
            <h2>Attraction do's and don'ts</h2>
            <div class="divTable"">
                <figure class="figureLeft">
                    <img src="{{ url_for('static', filename='pic11.PNG') }}" alt="The Niagara river, showing the depth of the canyon and rapids." width="90%" height="40%">
                    <figcaption>The Niagara River Rapids, seen on the White Water Walk</figcaption>
                </figure>
                <div class="textRight">
                    <p>There are types of attractions for everyone, and you do not want to make the mistake of paying for each one individually.</p>
                    <p>Having spent years watching tourists make the mistake of thinking "I will not do all of the attractions listed on this pass, 
                       I should just pay individually"; I have learned many tricks in planning to visit attractions in Niagara Falls. The Passes 
                       offered by the <a href="https://www.niagaraparks.com/visit-niagara-parks/plan-your-visit/deals-packages/">Niagara Parks Commission</a> are the 
                       best bet to get your fun at a low price. Even if you skip an attraction on the list it is still cheaper as the deal gives a 
                       discounted price for all. If you come during the off season you can get these passes for an even better price. In the off season 
                       the locals are trying to get any money that they can, so discounts are everywhere!</p>
                    <p>Do your research, figure out which attractions are a must see for you. Then look at the passes that are offered through the
                       Niagara Parks Commission, and save yourself the money</p>
                    <p>To save your long wait times you can talk to a person at the Welcome Centre located at Table Rock and book your times. That 
                       way you can enjoy the view of the falls for longer without having to wait in long lines in the heat.</p>
                    <p>All attractions let you bring a small bag on them so remember to bring a water bottle! You do not want to pay the impossible 
                        price of water, or even wait in the long line to get it.</p>
                    <p>The most important thing to remember when doing the attractions at Niagara Falls it to have fun and enjoy your time away
                        from home.
                    </p>
                </div>
            </div>
        </div>
        <div id="start", class="archingDiv"">
            <div class="divTable">
                <figure class="figureRight">
                    <img src="{{ url_for('static', filename='pic10.jpg') }}" alt="A view of the busy clifton hill." width="90%" height="40%">
                    <figcaption>The very top of Clifton Hill</figcaption>
                </figure>
                <div class="textLeft">
                    <h2>Links to must see Attractions</h2>
                    <ul>
                        <li><a href="https://www.niagaraparks.com/visit/attractions/whirlpool-aero-car/">The Whirlpool Aero Car</a></li>
                        <li><a href="https://www.niagaraparks.com/visit/attractions/journey-behind-the-falls/">Journy Behind the Falls</a></li>
                        <li><a href="https://www.niagaraparks.com/visit/attractions/hornblower-niagara-cruises/">The Hornblower</a></li>
                        <li><a href="https://www.niagaraparks.com/visit/attractions/white-water-walk/">White Water Walk</a></li>
                        <li><a href="https://www.niagaraparks.com/visit/attractions/butterfly-conservatory/">Butterfly Conservatory</a></li>
                        <li><a href="https://www.niagaraparks.com/visit/attractions/niagaras-fury/">The movie experiance: Niagara's Fury</a></li>
                    </ul>
                    </br>
                    <h2>Other fun things not as close to the waterfall</h2>
                    <ul>
                        <li><a href="https://www.fallsviewwaterpark.com/">Fallsview Waterpark</a></li>
                        <li><a href="https://www.cliftonhill.com/">Clifton Hill</a></li>
                        <li><a href="https://www.superputtminigolf.com/">Super Putt Mini Golf</a></li>
                        <li><a href="http://www.canviewdrivein.com/canviewhome.html">Canview Drive-In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Author: Kaylee Bigelow - About: I grew up in Niagara Falls so all information not cited it based on my experiences!<br>
            <a href="mailto:kbigelow@uoguelph.ca">kbigelow@uoguelph.ca</a></p>
        </footer> 
    </body>
</html>