<html>
    <head>
        <title>Money Tips</title>
        <meta name="author" content="Kaylee Bigelow">
        <meta name="description" content="Tips to save money while at Niagara Falls">
        <link rel="stylesheet" href="{{ url_for('static', filename='webstyle.css') }}">
    </head>
    <body>
        <div class="headerdesign">
            <h1>How to be a tourist in Niagara Falls</h1>
            <h3>(And save some money)</h3>            
        </div>
              
        <div class="navbar">
            <a href="home.html">Home</a>
            <a href="one.html">Attractions</a>
            <a href="two.html">Money saving Tips</a>
            <a href="404.html">Bad Link</a>
        </div>
        <div id="start", class="archingDiv">
            <h2>Ways to save money</h2>
            <div class="divTable">
                <figure class="figureLeft">
                    <img src="{{ url_for('static', filename='pic4.jpg') }}" alt="The American Falls with the Horn Blower boat in the river." width="90%" height="40%">
                    <figcaption>A not so often photographed view of the Falls</figcaption>
                </figure>
                <div class="textRight">
                </br>
                    <p>Everyone knows that when you go on vacation you are going to be spending a lot of money. However, it is worth
                        it to make memories and have a good time. In order to save yourself some money on your trip here are some tips 
                        that will keep some money in your pocket. </p>
                    <ul class="leftAlignText">
                        <li>1. Leave your car at your hotel and get a <a href="https://wegoniagarafalls.com/fares/">WEGO bus pass</a>. 
                            Parking costs an insane amount anywhere you go in Niagara Falls. While the bus may take a bit longer it saves 
                            you money!</li>
                        </br>
                        <li>2. Some places have a tax called the tourist tax. This tax is used for things like fixing roads in the tourist
                            area, the free fireworks, and other things that keep the area running. But if you are on a tight budget then
                            you can politely ask the person at the register if they can  remove the tax. (Note: not all places by the falls 
                            have this, so trust the person at the register if they say they do not charge it) For a CBC article on the subject 
                            click <a href="https://www.cbc.ca/news/business/niagara-falls-tourism-fee-marketplace-1.4001972">here.</a></li>
                        </br>
                        <li>3. Everyone loves the idea of not cooking while on vacation, but some prices are just ridiculous. The best way to 
                            save some money is to bring a lunch with you and have a picnic! Planning to spend money on a fun, exciting dinner
                            works well but save yourself that lunch money to use at home or get more souvenirs.</li>
                        </br>
                        <li>4. There are free attractions to take part in so you aren't paying for every minute of your visit. Their are 
                            <a href="https://www.niagarafallstourism.com/fireworks/">fireworks</a> nightly you can enjoy, view the 
                            <a href="https://www.niagaraparks.com/visit/nature-garden/floral-clock/">floral clock</a>, walk down the parkway, 
                            visit <a href="https://www.niagaraparks.com/visit/nature-garden/dufferin-islands/">Dufferin Islands</a>, and more. </li>
                        </br>
                        <li>5. One of the simplest things that tourists always forget is a water bottle. Having to pay $2, $3, or sometimes
                            even more for a bottle of water is just a waste. Bring your own bottle and fill it at fountains as you go!
                        </li>
                    </ul>
                </div>
            </div>
            </br>
            <figure>
                <img src="{{ url_for('static', filename='pic12.jpg') }}" alt="Fireworks at Niagara Falls." width="90%" height="60%">
                <figcaption>Firework display at Niagara Falls, Click <a href="https://www.niagarafallstourism.com/fireworks/?asset=1116-tw-1181373126820728832-3">here </a>for origin of this photo</figcaption>
            </figure>
        </br>
        </div>
        <footer class="footer">
            <p>Author: Kaylee Bigelow - About: I grew up in Niagara Falls so all information not cited it based on my experiences!<br>
            <a href="mailto:kbigelow@uoguelph.ca">kbigelow@uoguelph.ca</a></p>
        </footer> 
    </body>
</html>